<div class="card pointer" (click)="select()" [ngClass]="{'bg-info': (selected | async), 'text-white': (selected | async)}">
  <ng-container *ngIf="ref.photo; else noPhoto">
    <div (click)="triggerPhotoInput()" class="photo-placeholder">
      <img class="card-img-top" [src]="ref.photo" alt="Card image cap">
    </div>
  </ng-container>
  <ng-template #noPhoto>
    <div class="photo-placeholder flex flex-i-center bg-silver">
      <div (click)="triggerPhotoInput()" class="flex flex-column flex-i-center w-100">
        <mat-icon>add_a_photo</mat-icon>
      </div>
    </div>
  </ng-template>
  <div class="card-body">
    <h4 class="card-title">
      {{ ref.name }}
    </h4>
    <div class="card-text">
      <p>Количество продуктов: {{ getProductsLength(ref.products) }}</p>
    </div>
  </div>
  <div class="card-footer text-center">
    <a [ngClass]="{'text-primary': !(selected | async), 'text-white': (selected | async)}" [routerLink]="['/r/refrigerators', ref.key]">Выбрать</a>
  </div>
</div>
<input #photoInput type="file" class="hidden" (change)="photoFileChanged($event)" >