<mat-toolbar color="accent">
  <span>Refrigerator Control</span>
  <div class="header-spacer"></div>
  <ng-container *ngIf="(authState | async); let auth">
    <span>{{ auth.displayName }}</span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
       <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="logout()"> Выйти </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- REFRIGERATOR MENU -->
<app-ref-menu></app-ref-menu>

<!-- ADD PRODUCT POPUP -->
<app-add-product></app-add-product>
