<div class="modal" (click)="fadeToBlack()"></div>
<div class="pop-up">
    <div class="block-header">
        {{ product.name }}
    </div>
    <div class="block-body bg-white">
        <div class="text-1-25" *ngIf="!createdChanging; else createdTmpl" (click)="triggerChangingState('created')">
            Изготовлено <span>{{ product.created | date:'short' }}</span>
        </div>
        <ng-template #createdTmpl>
            <label for="created">Изготовлено</label>
            <mat-form-field class="width-100">
                <input matInput [matDatepicker]="created" [formControl]="createdControl" (keyup.enter)="updateProduct('created')">
                <mat-datepicker-toggle matSuffix [for]="created"></mat-datepicker-toggle>
                <mat-datepicker #created></mat-datepicker>
            </mat-form-field>
        </ng-template>
        <div class="text-1-25" *ngIf="!shelfChanging; else shelfTmpl" (click)="triggerChangingState('shelf')">
            Срок годности <span>{{ product.shelf | date:'short' }}</span>
        </div>
        <ng-template #shelfTmpl>
            <label for="shelf">Срок годности</label>
            <mat-form-field class="width-100">
                <input matInput [matDatepicker]="shelf" [formControl]="shelfControl" (keyup.enter)="updateProduct('shelf')">
                <mat-datepicker-toggle matSuffix [for]="shelf"></mat-datepicker-toggle>
                <mat-datepicker #shelf></mat-datepicker>
            </mat-form-field>
        </ng-template>
        <div class="text-1-25" *ngIf="!movedChanging; else movedTmpl" (click)="triggerChangingState('moved')">
            Убрано <span>{{ product.moved | date:'short' }}</span>
        </div>
        <ng-template #movedTmpl>
            <label for="moved">Убрано</label>
            <mat-form-field class="width-100">
                <input matInput [matDatepicker]="moved" [formControl]="movedControl" (keyup.enter)="updateProduct('moved')">
                <mat-datepicker-toggle matSuffix [for]="moved"></mat-datepicker-toggle>
                <mat-datepicker #moved></mat-datepicker>
            </mat-form-field>
        </ng-template>
    </div>
    <div class="block-footer danger pointer" (click)="removeProduct()">
        Убрать из списка
    </div>
</div>
