.header-spacer 
  flex: 1 1 auto

i 
  cursor: pointer
// SIZING
.w-100 
  width: 100%

.h-100
  height: 100%

// COLORS
.bg-grey
  background-color: grey

.bg-silver
  background-color: silver


// CURSOR

.pointer 
  cursor: pointer

// VISIBILITY
.hidden
  display: none

// FLEX
.flex
  display: flex

.flex-i-center
  align-items: center

.flex-column
  flex-direction: column

.flex-row
  flex-direction: row
