<div class="container">
    <div class="jumbotron">
        <h2 class="text-center">
            Добро пожаловать в <em>Refrigerator Control Project!</em>
        </h2>
        <p class="lead">
            
        </p>
        <blockquote class="blockquote">
            <p class="mb-0">Этот проект поможет вам следить за сроком годности продуктов,
                    подскажет рецепты из ваших продуктов и пока все.</p>
            <footer class="blockquote-footer">Да и рецепты он пока не подскажет</footer>
        </blockquote>
        <hr class="my-4">
        <h4 class="text-center">Авторизация</h4>
        <app-auth></app-auth>
    </div>
</div>