<div class="slider" [@state]="animationState" (click)="triggerState()">
  <div class="container bg-dark h-100">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <input #queryEl [formControl]="query" type="text" class="w-100 input">
      </div>
      <div class="col-sm-4"></div>
    </div>
    <hr class="bg-warning">
    <!-- query results -->
    <ng-container *ngIf="!(queryState | async)">
      <div class="row query-result">
        <ng-container *ngFor="let p of (queryResult | async)">
          <div class="col-sm-3">
            <app-prod-list-unit [textWhite]="true" [product]="p"></app-prod-list-unit>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<!-- MODAL -->
<div class="--modal"></div>