<div class="slider" [@state]="animationState">
  <div class="container bg-dark h-100">
    <ng-container *ngIf="state === addState.SEARCH; else addForm">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <input #queryEl [formControl]="query" type="text" class="w-100 input">
        </div>
        <div class="col-sm-4"></div>
      </div>
      <hr class="bg-warning">
      <!-- query results -->
      <div class="query-result" *ngIf="queryResult | async as result">
        <ng-container *ngFor="let prod of result; index as i">
          <ng-container *ngIf="i % 4 === 0">
            <div class="row">
              <ng-container *ngFor="let p of result.slice(i - 4, i)">
                <div class="col-sm-3 col-md-3 col-lg-3">
                  <app-prod-list-unit (click)="selectProduct(p)" [textWhite]="true" [product]="p"></app-prod-list-unit>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #addForm>
      <ng-container *ngIf="(selectedProduct | async); let prod">
        <div class="flex p-3">
          <mat-icon class="pointer text-white" (click)="backToSearch()" >keyboard_arrow_left</mat-icon>
          <h4 class="text-white text-center">{{ prod.name }}</h4>
        </div>
        <div class="row">
          <div class="col-lg-4"><img [src]="prod.photoUrl ? prod.photoUrl : ''" alt=""></div>
          <div class="col-lg-4">
            <h4 class="text-white">Срок хранения: {{ prod.shelf }}</h4>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>

<!-- MODAL -->
<div class="--modal pointer" [@modalState]="modalState" (click)="destroy()"></div>