<div class="container">
  <h3>
    <span>
      <mat-icon class="pointer" [routerLink]="['/r/refrigerators']">keyboard_arrow_left</mat-icon>
    </span> Продукты в холодильнике {{ (selectedRefrigerator | async)?.name}}
  </h3>
  <hr>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let p of (products | async)">
        <div class="col-sm-2 pointer prod-unit">
          <app-prod-list-unit (click)="selectProduct(p)" [product]="p"></app-prod-list-unit>
        </div>
      </ng-container>
    </div>
  </div>
</div>