<div class="content">
  <div class="header">
    <ng-container *ngIf="(products | async)?.length; let count; else noProducts" >
      <p>Продукты: {{ count }}</p>
    </ng-container>
    <ng-template #noProducts>
      <p>В холодильнике нет продуктов!</p>
    </ng-template>
  </div>
  <div class="container">
    <app-product-list
    (productWasSelected)="selectProduct($event)"
    [selectedProduct]="selectedProduct"
    [products]="products" ></app-product-list>
  </div>
  <ng-container *ngIf="(addProductActive | async)">
    <app-add-product></app-add-product>
  </ng-container>
  <ng-container *ngIf="(selectedProduct | async); let p">
    <app-selected-product [product]="p"></app-selected-product>
  </ng-container>
</div>
