<div class="container">
  <h3>
    <span>
      <mat-icon class="pointer" [routerLink]="['/r/refrigerators']">keyboard_arrow_left</mat-icon>
    </span> Продукты в холодильнике {{ (selectedRefrigerator | async)?.name}}
  </h3>
  <hr>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let p of (products | async)">
        <div class="col-sm-1 pointer">
          <div class="card">
            <img [src]="p.photoUrl" class="card-img-top mr-3">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>